<div class="item-segmento" style="left: <%= segmento.distance * 100 %>%;">
	<div class="categoria">
		<div>
			<span class="cat-image"><%= image_tag segmento.via_caracteristic_category.avatar %></span>
			<span class="arrow"></span>
		</div>
	</div>

	<div class="segmento" data-id="<%= segmento.id %>" data-level="<%= segmento.via_caracteristic_category.importance %>">
		<span></span>
	</div>
	<div class="informations" style="display: none;">
		<h2><%= segmento.name %></h2>
		<h4><strong><%= segmento.via_caracteristic_category %></strong></h4>
		<h4><strong><%= segmento.km.to_i %>KM</strong></h4>
		<p><%= segmento.description %></p>
	</div>

</div>